html, body {
 height: 100%;
 width: 100%;
 background-color: #b3e6cc;
}

h1 {
   padding-left: 510px;
   display: flex;
   align-items: flex-start;
   font-family: 'Lobster', cursive;
}
button {
    height: 40px;
    width: 90px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Lobster', cursive;
}

h2 {
    display: flex;
    align-content: center;
    margin: 0 auto;
}

/* .container {
    display: flex;
    align-content: center;
    margin: 0 auto;

} */